:root {
  --body-text-color: #404040;
  --body-background: #f5f5f5;
  --body-neg-text-color: #e0e0e0;
  --base-font-size: 12pt;
  --base-line-height: 27px;
  --base-leading: var(--base-line-height);

  --ff-serif: 'Garamond', 'Baskerville', serif;
  --ff-sans:  'Gill Sans', 'Gill Sans MT', 'Calibri', sans-serif;
  --ff-serif-em: 'Cormorant Garamond', 'Cambria', serif;
  --ff-sans-em:  'Lato', 'Helvetica', sans-serif;
}

*,
h1, h2, h3, h4, h5, h6,
p {
  margin: 0px;
  padding: 0px;
}

body {
  color: var(--body-text-color);
  background-color: var(--body-background);
  font-size: var(--base-font-size);
  font-family: var(--ff-sans);
  line-height: var(--base-leading);
}

h1 { font-size: 3.375em; line-height: calc(var(--base-leading) * 3); }
h2 { font-size: 2.250em; line-height: calc(var(--base-leading) * 2); }
h3 { font-size: 1.500em; line-height: calc(var(--base-leading) * 2); }

h1, h2, h3 { font-family: var(--ff-sans-em); }

h4, h5, h6, p, li {
  font-size: var(--base-font-size);
  line-height: var(--base-leading);
}

mark {
  background: transparent;
  color: var(--body-text-color);
}

a:link { color: #1d7583; }
a:visited { color: #074d65; }
a:hover, a:focus { color: #308ac9; }
a:active { color: #54e3db; }

.resume__tagline {
  margin-top: var(--base-leading);
  margin-bottom: var(--base-leading);

  font-size: 1.45em;
  line-height: var(--base-leading);
}

.resume__tagline em {
  color: #000;
  padding: 0px 0.2em;
}

.address dd:before {
  content: "";

  display: inline-block;
  height: var(--base-leading);
  width: 25px;

  position: relative;
  top: calc(0.1 * var(--base-leading));

  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 16px auto;
}

dd.address__physical:before { background-image: url("../icons/globe.svg"); }
dd.address__telephone:before { background-image: url("../icons/phone.svg"); }
dd.address__email:before { background-image: url("../icons/email.svg"); }
dd.address__github:before { background-image: url("../icons/github.svg"); }

.resume__languages li::before { content: ""; }

.resume__languages li {
  margin-left: 0px;
  padding-left: 25px;

  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: left center;
}

li.language__clojure    { background-image: url("../icons/clojure.svg"); }
li.language__fsharp     { background-image: url("../icons/fsharp.svg"); }
li.language__ruby       { background-image: url("../icons/ruby.svg"); }
li.language__sql        { background-image: url("../icons/database.svg"); }
li.language__html       { background-image: url("../icons/html5.svg"); }
li.language__javascript { background-image: url("../icons/javascript.svg"); }

li.language__javascript,
li.language__ruby {
  background-size: 12px 12px;
  background-position: left 1px center;
}

.resume__job { margin-bottom: var(--base-leading); }

.job__title {
  margin: 0px;

  font-size: 1.337em;
  line-height: var(--base-leading);

  font-weight: normal;
}

.job__period { display: inline; }

.job__period::after { content: ", "; }

.job__employer {
  display: inline;
  font-size: 0.667em;
}

.job__period,
.job__employer {
  font-family: sans-serif;
  color: #808080;
}

.job__employer__yapster {
  display: inline-block;
  position: relative;
}

.job__employer__yapster__logo {
  display: inline-block;
  position: relative;
  top: 0.15em;
  height: calc(var(--base-leading) * 0.75);
  margin-left: 0.5em;
}

.job__employer__yapster__logotype {
  display: inline-block;
  position: relative;
  top: 0.05em;
  height: calc(var(--base-leading) * 0.55);
}
