@media print {
  @page {
    size: A4 portrait;
    margin: 1.5cm 1.25cm 1.25cm calc(1.25cm - 50px);
  }

  @page:first {
    margin-top: 1cm;
  }

  body {
    margin-left: 50px;
    background: white;
    font-family: var(--ff-serif);
  }

  h1, h2, h3 { font-family: var(--ff-sans); }

  a:link,
  a:hover,
  a:visited,
  a:active,
  a:focus {
    text-decoration: none;
    color: inherit;
  }

  abbr[title] { text-decoration: none; }
  abbr[title]:after { content: " (" attr(title) ")"; }

  .job__accomplishments a[href]:after {
    font-size: 0.8335em;
    content: " (" attr(href) ")";
  }

  ul {
    list-style: none;
  }

  .address {
    width: auto;
    margin-top: calc(var(--base-leading) * -10.53);

    float: right;

    display: flex;
    flex-flow: column nowrap;

    text-align: right;
  }

  .address dt { display: none; }

  dd.address__physical  { order: 1; }
  dd.address__telephone { order: 2; }
  dd.address__email     { order: 3; }

  dd.address__github {
    display: block;
    position: absolute;
    top: calc(var(--base-leading) * 3.4);
    left: 25px;
  }

  header {
    margin: calc(var(--base-leading) * 1) 0px;
    padding: 0px;
  }

  aside {
    float: right;
    width: 20%;
    margin-top: calc(var(--base-leading) * -8);
  }

  .resume__example-roles { margin-top: calc(2 * var(--base-leading)); }

  .resume__tagline,
  .resume__summary,
  .resume__job:first-of-type {
    margin-right: 30%;
  }

  .resume__job:first-of-type .job__accomplishments { margin-right: 0px; }

  .resume__tagline {
    font-family: var(--ff-serif-em);
    font-style: italic;
    font-weight: 600;
  }

  .resume__tagline em {
    font-family: var(--ff-sans-em);
    font-style: normal;
    font-weight: normal;
  }

  .resume__example-roles {
    font-size: var(--base-font-size);
    line-height: var(--base-line-height);
    font-style: normal;
    font-weight: normal;
  }

  .resume__extras ul,
  aside ul {
    list-style: none;
    margin-top: 0px;
    padding-left: 0px;
  }

  aside h3 {
   font-size: 0.667em;
   line-height: var(--base-leading);
   margin-top: var(--base-leading);
   margin-bottom: 0px;
  }

  .resume__extras li,
  aside li {
    font-size: 0.8335em;
    line-height: calc(var(--base-leading) - 1px);
    border-bottom: 1px solid #e0e0e0;
  }

  .resume__extras li:last-child,
  aside li:last-child {
    margin-bottom: 1px;
    border-bottom: none;
  }

  .resume__summary {
    margin-bottom: var(--base-leading);
  }

  .resume__work-experience h2 {
    font-size: 1em;
    line-height: var(--base-leading);
  }

  .job__period { display: block; }
  .job__period::after { content: ""; }

  .job__accomplishments {
    list-style: disc;
  }

  .resume__job:nth-of-type(2) { page-break-before: always; }

  .resume__languages li {
    padding-left: 0px;
    background-size: 20px 20px;
    background-position: center right;
  }

  li.language__javascript,
  li.language__ruby {
    background-size: 16px 16px;
    background-position: right 3px center;
  }

  .resume__extras {
    display: flex;
    border-top: 1px solid #e0e0e0;
    padding-top: calc(var(--base-leading) - 1px);
  }

  .resume__extras p,
  .resume__extras li {
    font-size: 0.8335em;
    line-height: var(--base-leading);
  }

  .resume__education {
    margin-right: 3em;
    flex-basis: 85%;
  }

  .resume__education p {
    margin-bottom: var(--base-leading);
  }

  .resume__education mark {
    font-family: sans-serif;
    font-size: 0.667em;
    color: #808080;
  }

  .resume__education h2,
  .resume__interests h2 {
    font-size: 1.337em;
    line-height: var(--base-leading);
  }

  .splash, footer { display: none; }
}
