/*
 * Animations
 */
@keyframes splash-arrow-bounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0, 20%, 0);
  }

  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -5%, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, 0, 0);
  }
}



/*
 * Font sizing
 */
@media screen and (max-width: 370px) {
  html {
    --base-font-size: 10pt;
    --base-line-height: 27px;
    --base-leading: var(--base-line-height);
  }
}

@media screen and (min-width: 1025px) {
  html {
    --base-font-size: 18pt;
    --base-line-height: 40px;
    --base-leading: var(--base-line-height);
  }
}

@media screen and (min-width: 1600px) {
  html {
    --base-font-size: 22pt;
    --base-line-height: 50px;
    --base-leading: var(--base-line-height);
  }
}



/*
 * Basic formatting
 */
@media screen {
  p, li { max-width: 75ex; }

  br { display: none; }

  ul { list-style: none; }

  li {
    position: relative;
    margin-left: 1em;
  }

  li::before {
    display: block;
    position: absolute;
    top: -0.1ex;
    left: -1em;
    content: "\0bb \020";
    color: #b4c2e4;
  }

  header h1 {
    font-family: 'Libre Baskerville', var(--ff-sans-em);
    text-align: center;
  }

  aside h3 {
    line-height: calc(var(--base-leading) * 1.25);
    margin-top: calc(var(--base-leading) * 0.75);
  }

  .resume__example-roles {
    font-family: var(--ff-sans);
    font-weight: normal;
    font-size: var(--base-font-size);
    line-height: var(--base-leading);
  }

  .resume__tagline { font-family: var(--ff-sans-em); }

  .resume__tagline em {
    font-size: 1.442em;
    font-style: italic;
    font-weight: 600;
    font-family: var(--ff-serif-em);
  }

  .resume__example-roles,
  .resume__tagline {
    text-align: center;
  }

  .resume__summary {
    margin: calc(4 * var(--base-leading)) 0px var(--base-leading) 0px;
    max-width: none;
  }
}



/*
 * Base positioning
 */
@media screen {
  body {
    display: flex;
    flex-flow: column nowrap;

    margin: 5vh 5vw calc(10vh + 1em) 5vw;
    min-height: 100vh;
    max-width: 50em;
  }

  header                   { order: 1; }
  .resume__summary         { order: 2; }
  aside                    { order: 3; }
  .resume__work-experience { order: 4; }
  .resume__extras          { order: 5; }
  footer                   { order: 6; }

  header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    height: 100vh;
    margin: 0px 0px;

    z-index: 1;
  }

  .resume__summary, aside { z-index: 1; }

  .address {
    margin: 0px 0px var(--base-leading) 0px;
  }

  .address dt {
    position: absolute;
    left: -1000vw;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  .resume__work-experience h2 {
    margin-top: calc(2 * var(--base-leading));
  }

  .resume__job { margin-bottom: calc(2 * var(--base-leading)); }

  .job__period::after { content: ""; }

  .job__period, .job__employer {
    display: block;
    margin: 0px;
    line-height: var(--base-leading);
  }

  .job__accomplishments li {
    margin-top: calc(0.5 * var(--base-leading));
    margin-bottom: calc(0.5 * var(--base-leading));
  }

  .resume__extras h2   { margin-top: var(--base-leading); }
  .resume__education p { margin-bottom: var(--base-leading); }

  footer {
    margin-top: calc(2 * var(--base-leading));
    border-top: 2px solid #d0d0d0;
  }

  footer p {
    margin-top: var(--base-leading);
  }

  footer .address  {
    display: block;
    margin-top: var(--base-leading);
  }
}



/*
 * Background styling
 */
@media screen {
  .splash {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 150vh;

    background-color: #353535;

    z-index: -1;
  }

  .splash__image {
    width: 100%;
    height: 100%;

    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    background-image:
      url(../images/tran-mau-tri-tam-50424.hires.jpg)
    , url(../images/tran-mau-tri-tam-50424.800.blurred.jpg)
    ;

    filter: grayscale(0.6) brightness(0.3) contrast(0.8);
  }

  .splash__overlay {
    display: block;
    position: absolute;
    top: 80vh;
    left: 0px;
    width: 100%;
    height: 72vh;

    background: linear-gradient(180deg, rgba(245,245,245,0) 0%, rgba(245,245,245,0.5) 30%, rgba(245,245,245,1) 85%);
  }

  .splash__credit {
    position: absolute;
    top: 1vh;
    right: 2vw;
    padding: 2px 6px;

    font-size: 0.8335em;
    text-decoration: none;
  }

  .splash__credit,
  .splash__credit:link,
  .splash__credit:visited,
  .splash__credit:hover,
  .splash__credit:active,
  .splash__credit:focus {
    color: #f0f0f0;
  }

  .splash__credit svg path { fill: #939393; }

  .credit__icon,
  .credit__attribution {
    display: inline-block;
    padding: 2px 3px;
  }

  .credit__attribution { text-indent: -1000vw; }
  .splash__credit:hover .credit__attribution { text-indent: 0px; }
  .splash__credit:hover svg path { fill: #f0f0f0; }

  .splash__skip, .splash__show {
    display: block;
    position: absolute;
    bottom: 50vh;
    left: 0px;
    width: 100%;

    z-index: 999;

    color: var(--body-neg-text-color);

    font-size: calc(0.75 * var(--base-font-size));
    line-height: calc(1.5 * var(--base-leading));
    text-align: center;

    animation-name: splash-arrow-bounce;
    animation-duration: 5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    transform-origin: center bottom;
  }

  .splash__show {
    display: none;
    top: 105vh;
  }
}

/*
 * Header adjustments for splash page with background
 */
@media screen {
  .header--invert { color: var(--body-neg-text-color); }
  .header--invert a:link { color: var(--body-neg-text-color); }
  .header--invert a:visited { color: var(--body-neg-text-color); }
  .header--invert a:hover { color: #54e3db; }
  .header--invert a:focus { color: #54e3db; }
  .header--invert a:active { color: #1d7583; }

  .header--invert dd:before { filter: invert(1) brightness(0.88); }
}



/*
 * Make the tagline emphasis stand out
 */
@media screen {
  .resume__tagline em {
    padding: 0.15em 0.25em 0px 0.15em;
    color: transparent;

    text-shadow:
      0px 0px 0 #e0e0e0
    , 2px 3px 0 #404040
    ;
  }
}


/*
 * Breakpoint adjustments
 */
@media (min-width: 820px) {
  body { margin-left: auto; margin-right: auto; }
}



@media screen and (max-width: 370px) {
  .resume__work-experience h2 {
    line-height: var(--base-leading);
    margin-bottom: var(--base-leading);
  }
}



@media screen and (max-width: 436px) {
  header h1 {
    line-height: calc(var(--base-leading) * 2);
    margin-bottom: var(--base-leading);
  }
}



/* when there's room display the address details in a grid */
@media screen and (min-width: 436px) {
  header .address {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
  }

  header .address dd { display: block; padding-right: 0px; }

  header .address__city {
    position: absolute;
    left: -1000vw;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  header dd.address__github    { flex: 0 0 35%;  order: 1; }
  header dd.address__telephone { flex: 0 0 35%;  order: 2; }
  header dd.address__physical  { flex: 0 0 30%;  order: 3; }
  header dd.address__email     { flex: 0 0 auto; order: 4; }

  header dd.address__email     { margin: 0px auto 0px 35%; }

  header dd.address__physical  { text-align: right; }
}



@media screen and (min-height: 736px) {
  header .address { margin-top: calc(2 * var(--base-leading)); }
}



/* when there's room show the competencies, languages, tech's side-by-side */
@media screen and (min-width: 765px) {
  li { margin-left: 0px; }

  aside {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    margin-bottom: var(--base-leading);
  }

  aside li { margin-left: 0px; }

  .resume__competencies { flex: 0 0 40%; }
  .resume__languages    { flex: 0 0 35%; }
  .resume__technologies { flex: 0 0 20%; }

  aside h3 {
    width: 1em; /* force word wrapping */
    line-height: var(--base-leading);
    margin-top: var(--base-leading);
    margin-bottom: var(--base-leading);
  }
}



/* when there's room display the education and interests side-by-side */
@media screen and (min-width: 820px) {
  .resume__extras { display: flex; }

  .resume__education { flex: 1; margin-right: 3em; }
  .resume__interests { flex: 1; }

  .resume__education p {
    margin-bottom: var(--base-leading);
    font-size: 0.8335em;
    width: 70ex;
  }
}



@media screen and (min-width: 435px) and (max-height: 400px) {
  header { justify-content: flex-start; }
}



@media screen and (max-width: 360px) and (max-height: 600px),
       screen and (max-width: 600px) and (max-height: 360px)
{
  header { justify-content: flex-start; }
  .resume__tagline { margin: calc(0.5 * var(--base-leading)) 0px; }
}
