doctype html
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(name='viewport', content='width=device-width')
      title #{locals.owner} Adam Harper - Strategic, Product Minded, Software Engineering Manager
      link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato|Cormorant+Garamond:600i|Libre+Baskerville:700')
      link(rel='stylesheet', href='styles/resume.css')
  body
    .splash
      .splash__image
      .splash__overlay
      a.splash__credit(href="http://unsplash.com/@tranmautritam?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge", rel="noopener noreferrer", title="Download free do whatever you want high-resolution photos from Tran Mau Tri Tam")
        span.credit__attribution Tran Mau Tri Tam
        span.credit__icon
          <svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-1px;fill:white;" viewBox="0 0 32 32"><title></title><path d="M20.8 18.1c0 2.7-2.2 4.8-4.8 4.8s-4.8-2.1-4.8-4.8c0-2.7 2.2-4.8 4.8-4.8 2.7.1 4.8 2.2 4.8 4.8zm11.2-7.4v14.9c0 2.3-1.9 4.3-4.3 4.3h-23.4c-2.4 0-4.3-1.9-4.3-4.3v-15c0-2.3 1.9-4.3 4.3-4.3h3.7l.8-2.3c.4-1.1 1.7-2 2.9-2h8.6c1.2 0 2.5.9 2.9 2l.8 2.4h3.7c2.4 0 4.3 1.9 4.3 4.3zm-8.6 7.5c0-4.1-3.3-7.5-7.5-7.5-4.1 0-7.5 3.4-7.5 7.5s3.3 7.5 7.5 7.5c4.2-.1 7.5-3.4 7.5-7.5z"></path></svg>
      .splash__skip ↓↓↓
      .splash__show ↑↑↑

    header.header--invert
      h1 Adam Harper

      p.resume__tagline.
        Transformative SaaS Leader Driving Scalable Innovation, Operational Excellence, and Global Team Synergy

      dl.address
       dt.address__physical Address
       dd.address__physical
         span.address__region Wye Valley,
         | 
         span.address__country United Kingdom

       dt.address__telephone Contact Number
       dd.address__telephone +44 (0) 7597 265740

       dt.address__email Email
       dd.address__email
         a(href="mailto:hire@adam-harper.com") hire@adam-harper.com

       dt.address__linkedin LinkedIn
       dd.address__linkedin
         a(href="https://www.linkedin.com/in/adam-harper-1012a0249/")
          span.url__domain linkedin.com
          span.url__path /adam-harper

    section.resume__summary
      p.
        Veteran SaaS startup technical leader who relishes the challenges of
        building systems, perfecting the processes to support them, and
        developing the careers of colleagues working with them.

      p.
        Adept at steering globally distributed, cross-functional teams
        to deliver transformative business outcomes through scalable
        systems, optimized processes, and a culture of accountability
        and innovation.
        Demonstrated expertise in fostering cohesive, asynchronous
        collaboration across time zones, achieving milestones such as
        increasing deployment frequency by 30% and decreasing change
        lead time by 40%.

      p.
        Passionate about cultivating future leaders, aligning technical
        excellence with strategic goals, and advancing organizational
        growth in a remote-first environment.

    aside
      section.resume__competencies
        h3 Core Competencies
        ul
          li Team Leadership
          li Strategic Direction
          li Process Evolution
          li Project Management
          li Cultivating Careers
      section.resume__core-values
        h3 Core Values
        ul
          li Transparency
          li Trust with Accountability
          li Maintaining an Open Mind
          li Unending Curiosity
          li Being a Team Player
      section.resume__practices
        h3 Development Practices
        ul
          li Functional Programming
          li Domain &amp; Data Driven Design
          li Hypothesis Driven Development
          li Event Sourcing
          li Stream Processing
      section.resume__technologies
        h3 Technology Experience
        ul
          li.technology__react React
          li.technology__kafka Apache Kafka
          li.technology__cassandra Apache Cassandra
          li.technology__docker Docker
          li.technology__kubernetes Kubernetes
          li.technology__aws Amazon Web Services

    section.resume__work-experience
      h2 Professional Experience

      article.resume__job
        h3.job__title
          a.job__employer.job__employer__cupa(href='https://www.cambridge.org' alt='Cambridge University Press & Assessment')
            img.job__employer__cupa__logo(src='images/cupa-logo.png')

          span.job__employer__description.
            World-leading researcher, publisher, and provider of products and services
            supporting international education.

        section.job__overview
          p.
            As the technical lead for Cambridge University
            Press &amp; Assessment’s (CUPA’s)
            <abbr title="English Language iTutoring">ELiT</abbr> division
            I’ve driven organisational growth of a globally distributed team
            whilst fostering an increased sense of culture and community,
            mentored junior developers and first time managers, increased
            deployment frequency whilst reducing costs and maintaining
            reliability, and turned stalled projects into successes.

        section.job__period
          h4
            span.job__period__timespan 2023–present
            span.job__period__title Tech Lead: Applied AI for English Language Assessment
          ul.job__accomplishments
            li
              span.job__accomplishment__lead.
                Led strategic restructuring of existing engineering team
                resulting in a 30% increase in deployment frequency.
              span.job__accomplishment__detail.
                Established and mentored team leads while defining clear
                ownership boundaries, resulting in improved service reliability
                and accelerated feature delivery across a micro-services
                architecture.
                Balanced delegation with guidance, enabling new leaders to
                develop leadership skills and strategic capabilities while
                ensuring consistent delivery quality.
            li
              span.job__accomplishment__lead.
                Modernised DevOps infrastructure and practices reducing costs
                by 70% and change lead time 40%.
              span.job__accomplishment__detail.
                Directed migration to GitHub Actions, championed automated
                quality controls and feature flags. Maintained exceptional
                reliability while increasing deployment frequency 30%.
            li
              span.job__accomplishment__lead.
                Built and scaled globally distributed engineering teams
                increasing headcount by 50%
              span.job__accomplishment__detail.
                Established asynchronous workflows and a culture of
                documentation enabling effective cross-timezone
                collaboration.
                Fostered cohesion through pair-programming and regular
                knowledge sharing sessions.
            li
              span.job__accomplishment__lead.
                Created collaborative engineering culture achieving 90%
                participation in knowledge sharing initiatives.
              span.job__accomplishment__detail.
                Established quarterly technology forums, cross-team squads and
                working groups, cross-functional book clubs, and standardized
                tooling practices to drive a shared sense of technical excellence
                across the organisation.
            li
              span.job__accomplishment__lead.
                Delivered new business-critical platform serving 40,000 daily
                users within 12 months.
              span.job__accomplishment__detail.
                Led team of four developers to rescue stalled project with close
                collaboration with the existing product owner and delivered a
                platform with a five fold increase in available content that
                improved key data capture metrics from by 80% within 6
                months of operation.


      article.resume__job
        h3.job__title
          a.job__employer.job__employer__yapster(href='https://www.yapster.info' alt='Yapster')
            img.job__employer__yapster__logo(src='images/yapster-logo.png')
            img.job__employer__yapster__logotype(src='images/yapster-logotype.png')

          span.job__employer__description.
            Mobile messaging and performance communication platform serving some
            of the UK’s biggest brands (Caffè Nero, Next, Brewdog, VisionExpress, Revere)

        section.job__overview
          p.
            Core member of the executive team who led product development and
            played a key role in the company’s operations and strategy.

          p.
            From joining as a Developer at this startup’s earliest stage to
            leading engineering and customer ops as the Product and Technical
            Director, my contributions to the codebase, product, business
            operations, and direction of the company exemplify my strategic,
            cross functional, process minded, and outcome driven approach.


        section.job__period
          h4
            span.job__period__timespan 2021–2023
            span.job__period__title Engineering and Product Director
          ul.job__accomplishments
            li
              span.job__accomplishment__lead.
                Played a key role in the company’s sale via acquisition by Sona
                (backed by Google Ventures.)
              span.job__accomplishment__detail.
                Prepared investor slide decks, met with potential acquirers, and
                fielded all technical due diligence requests.
            li
              span.job__accomplishment__lead.
                Defined product roadmap and ensured successful delivery of 100%
                of non-R&amp;D projects.
              span.job__accomplishment__detail.
                Undertook preliminary development work to uncover and remove
                unknowns.
                Provided comprehensive work specifications for new features and
                enhancements.
                Directed and reviewed team’s output to discover and eliminate
                blockers, make appropriate scope cuts when required, and keep
                work on track.
            li
              span.job__accomplishment__lead.
                Transformed ‘feature factory’ development process to deliver
                new, supplementary, product in 3 months whilst maintaining
                existing product release cadence.
              span.job__accomplishment__detail.
                Improved development processes, managed scope and resource
                constraints.
                Collaborated with and gained buy-in from other stakeholders.
                Contributed 25–50% of new MRR and demonstrated a positive return
                on investment for customers (a 5–10% increase in their revenue.)
            li
              span.job__accomplishment__lead.
                Fostered a numbers based, product led, culture of transparency
                and accountability while working in close collaboration with the CEO.
              span.job__accomplishment__detail.
                Standardised practices using the EOS/Traction model.
                Every employee made contributions to company-wide scorecards,
                gaining a sense of ownership and accountability.
                Product measures such as Weekly Active Users became our North Star.
                This focused the entire company on delivering improvements to the
                product and the customer experience.
            li
              span.job__accomplishment__lead.
                Set and directed team KPIs which resulted in 50% reduction in
                support response times without adding personnel.
              span.job__accomplishment__detail.
                Instilled a sense of ownership and accountability throughout my
                team giving them the confidence to initiate improvement projects.
                Supported and directed my team in improving efficiency and
                reducing causes of tickets.
            li
              span.job__accomplishment__lead.
                Initiated and applied a quarterly performance review process
                that drove team engagement and growth.
              span.job__accomplishment__detail.
                Delivered actionable and quantifiable insights into employee
                performance and career progress.
                Enabled clear goal setting for advancement and implemented
                evidence based Performance Improvement Plans which were adopted
                and standardised company-wide.

        section.job__period
          h4
            span.job__period__timespan 2020–2021
            span.job__period__title Head of Engineering &amp; Product
          ul.job__accomplishments
            li
              span.job__accomplishment__lead.
                Helped enable the business to navigate the pandemic with increased
                productivity, cooperation, and focus.
              span.job__accomplishment__detail.
                Trailblazed use of collaborative tools such as Asana and
                Notion.
                Set standards for successful, async first, remote
                working and collaboration.
                This centralised the company’s operations and knowledge,
                instilled a project minded, collaborative, and open approach to
                work, broke down silos, and fostered a documentation driven
                culture.
            li
              span.job__accomplishment__lead.
                Grew the development team by 3x with 100% new hire retention.
              span.job__accomplishment__detail.
                Implemented hiring framework which utilised core value and key
                attribute scoring to ensure culture fit and suitability of hires.
            li
              span.job__accomplishment__lead.
                Led the ISO 27001 certification of engineering processes.
              span.job__accomplishment__detail.
                Documented and ensured adherence to the processes required for
                certification within engineering.
                Certification enabled the company to sign contracts with some of
                the largest UK brands and multi-national organisations.
            li
              span.job__accomplishment__lead.
                Facilitated the establishment of key partner integrations,
                relationships, and processes.
              span.job__accomplishment__detail.
                Worked with external partners to understand their needs,
                provided technical direction and managed development of
                integration features.
                These efforts unlocked an additional £100,000 ARR via cross-sale
                opportunities.
            li
              span.job__accomplishment__lead.
                Re-engineered the company’s push notification backend so that
                native mobile platform features were utilised.
              span.job__accomplishment__detail.
                This transformed the feature from a frequent source of negative
                feedback to an indispensable part of the experience. 
            li
              span.job__accomplishment__lead.
                Designed and implemented a flexible data import facility.
              span.job__accomplishment__detail.
                This drastically reduced the time and effort required to
                establish imports for new customers and reduced the manual
                overhead for workspace setup.

        section.job__period-list
          ol
            li.job__period__oneliner
              span.job__period__timespan 2018–2020
              span.job__period__title Senior Developer &amp; Team Lead
            li.job__period__oneliner
              span.job__period__timespan 2017–2018
              span.job__period__title Developer

      article.resume__job
        h3.job__title
          span.job__employer.job__employer__lpe
            img.job__employer__lpe__logo(src='images/lpe-logo.png', alt='Lymington Precision Engineers Co. Ltd.')

          span.job__employer__description.
            Bespoke, subcontract, engineering firm serving industries such as
            nuclear, space, and automotive.
          
        p.job__overview.
          Implemented and maintained a modern Enterprise Resource Management
          system, defined best practices for its use, and developed custom
          modifications and supplementary software tools in order to maximise
          business efficiency and streamline operations.

        section.job__period-list
          ol
            li.job__period__oneliner
              span.job__period__timespan 2012—2017
              span.job__period__title Business Systems Development Manager
            li.job__period__oneliner
              span.job__period__timespan 2010—2012
              span.job__period__title Technical Lead – Enterprise Resource Planning (ERP) Implementation
            li.job__period__oneliner
              span.job__period__timespan 2007—2010
              span.job__period__title IT Manager
            li.job__period__oneliner
              span.job__period__timespan 2001—2007
              span.job__period__title IT Technician
            
    section.resume__extras
      article.resume__education
        h2 Education
        p.
          As a highly self-driven learner I have pursued many subjects
          in and outside IT.
          At undergraduate level, through the Open University, I have studied:
        ul
          li
            | Design and Designing
            mark (distinction)
          li
            | Computing: An Object-Oriented Approach
            mark (distinction)
          li Computers and Processors
          li Functional Programming in Erlang
          li Functional Programming in Haskell
          li Certificate in Mathematics
          li Data to Insight: Introduction to Data Analysis
          li From Notation to Performance: Understanding Musical Scores

      article.resume__interests
        h2 Interests
        ul
          li Playing piano and studying music
          li Scuba Diving
          li Tabletop–board/card–game design
          li Role-playing games, playing and running as the <abbr title="Games Master">GM</abbr>
          li Collaborative storytelling and creative&nbsp;writing
          li Travelling and writing travelogues
          li Photography
          li Baking and chocolate making

    footer
      p.
        Interested in working with me or have an opportunity you wish
        to discuss? Reach out via one of the following:

      dl.address
        dt.address__telephone Contact Number
        dd.address__telephone +44 (0) 7597 265740

        dt.address__email Email
        dd.address__email
          a(href="mailto:hire@adam-harper.com") hire@adam-harper.com

        dt.address__linkedin LinkedIn
        dd.address__linkedin
          a(href="https://www.linkedin.com/in/adam-harper-1012a0249/")
           span.url__domain linkedin.com
           span.url__path /adam-harper

        dt.address__github Github
        dd.address__github
          a(href="https://github.com/ah45")
           span.url__domain github.com
           span.url__path /ah45

  script(type="text/javascript").
    // enable :active effects on touch
    document.addEventListener("touchstart", function () {}, false);
  script(type="text/javascript", src='scripts/splash-scroll.js')
