html {
  --body-text-color: #404040;
  --base-font-size: 12pt;
  --base-line-height: 27px;
  --base-leading: var(--base-line-height);

  --ff-serif: 'Garamond', 'Baskerville', serif;
  --ff-sans:  'Gill Sans', 'Gill Sans MT', 'Calibri', sans-serif;
  --ff-serif-em: 'Cormorant Garamond', 'Cambria', serif;
  --ff-sans-em:  'Lato', 'Helvetica', sans-serif;
}

@media screen and (max-width: 370px) {
  html {
    --base-font-size: 10pt;
    --base-line-height: 27px;
    --base-leading: var(--base-line-height);
  }
}

*,
h1, h2, h3, h4, h5, h6,
p {
  margin: 0px;
  padding: 0px;
}

body {
  color: var(--body-text-color);
  font-size: var(--base-font-size);
  font-family: var(--ff-sans);
  line-height: var(--base-leading);
}

h1 { font-size: 3.375em; line-height: calc(var(--base-leading) * 3); }
h2 { font-size: 2.250em; line-height: calc(var(--base-leading) * 2); }
h3 { font-size: 1.500em; line-height: calc(var(--base-leading) * 2); }

h1, h2, h3 { font-family: var(--ff-sans-em); }

h4, h5, h6, p, li {
  font-size: var(--base-font-size);
  line-height: var(--base-leading);
}

mark {
  background: transparent;
  color: var(--body-text-color);
}

a:link { color: #1d7583; }
a:visited { color: #074d65; }
a:hover, a:focus { color: #308ac9; }
a:active { color: #54e3db; }

.background { display: none; }

.resume__tagline {
  margin-top: var(--base-leading);
  margin-bottom: var(--base-leading);

  font-size: 1.45em;
  line-height: var(--base-leading);
}

.resume__tagline em {
  color: #000;
  padding: 0px 0.2em;
}

.address dd { background-repeat: no-repeat; }

dd.address__physical { background-image: url("/icons/globe.svg"); }
dd.address__telephone { background-image: url("/icons/phone.svg"); }
dd.address__email { background-image: url("/icons/email.svg"); }
dd.address__github { background-image: url("/icons/github.svg"); }

.resume__job { margin-bottom: var(--base-leading); }

.job__title {
  margin: 0px;

  font-size: 1.337em;
  line-height: var(--base-leading);

  font-weight: normal;
}

.job__period { display: inline; }

.job__period::after { content: ", "; }

.job__employer {
  display: inline;
  font-size: 0.667em;
}

.job__period,
.job__employer {
  font-family: sans-serif;
  color: #808080;
}

@media screen {
  p, li { max-width: 75ex; }

  br { display: none; }

  ul { list-style: none; }

  li {
    position: relative;
    margin-left: 1em;
  }

  li::before {
    display: block;
    position: absolute;
    top: -0.1ex;
    left: -1em;
    content: "\0bb \020";
    color: #b4c2e4;
  }

  header h1 {
    font-family: 'Libre Baskerville', var(--ff-sans-em);
    text-align: center;
  }

  aside h3 {
    line-height: calc(var(--base-leading) * 1.25);
    margin-top: calc(var(--base-leading) * 0.75);
  }

  .resume__summary p { max-width: none; }

  .resume__example-roles {
    font-family: var(--ff-sans);
    font-weight: normal;
    font-size: var(--base-font-size);
    line-height: var(--base-leading);
  }

  .resume__tagline { font-family: var(--ff-sans-em); }

  .resume__tagline em {
    font-size: 1.442em;
    font-style: italic;
    font-weight: 600;
    font-family: var(--ff-serif-em);
  }

  .resume__example-roles,
  .resume__tagline {
    text-align: center;
  }
}

@media screen {
  body {
    display: flex;
    flex-flow: column nowrap;

    margin: 5vh 5vw calc(10vh + 1em) 5vw;
    min-height: 100vh;
    max-width: 780px;
  }

  @media (min-width: 820px) {
    body { margin-left: auto; margin-right: auto; }
  }

  header                   { order: 1; }
  .resume__summary         { order: 2; }
  .address                 { order: 3; }
  .resume__work-experience { order: 5; }
  aside                    { order: 4; }
  .resume__extras          { order: 6; }
  footer                   { order: 7; }

  header {
    margin-top: 5vh;
  }

  .address {
    margin: var(--base-leading) 0px;
  }

  .address dt {
    position: absolute;
    left: -1000vw;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  .address dd {
    padding: 0px 25px;
    background-position: left top calc(0.25 * var(--base-leading));
    background-repeat: no-repeat;
    background-size: 16px auto;
  }

  .resume__languages li::before { content: ""; }

  .resume__languages li {
    margin-left: 0px;
    padding-left: 25px;

    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: left center;
  }

  li.language__clojure    { background-image: url("/icons/clojure.svg"); }
  li.language__fsharp     { background-image: url("/icons/fsharp.svg"); }
  li.language__ruby       { background-image: url("/icons/ruby.svg"); }
  li.language__sql        { background-image: url("/icons/database.svg"); }
  li.language__html       { background-image: url("/icons/html5.svg"); }
  li.language__javascript { background-image: url("/icons/javascript.svg"); }

  li.language__javascript,
  li.language__ruby {
    background-size: 12px 12px;
    background-position: left 1px center;
  }

  .resume__work-experience h2 {
    margin-top: calc(2 * var(--base-leading));
  }

  .resume__job { margin-bottom: calc(2 * var(--base-leading)); }

  .job__period::after { content: ""; }

  .job__period, .job__employer {
    display: block;
    margin: 0px;
    line-height: var(--base-leading);
  }

  .job__accomplishments li {
    margin-top: calc(0.5 * var(--base-leading));
    margin-bottom: calc(0.5 * var(--base-leading));
  }

  .resume__extras h2   { margin-top: var(--base-leading); }
  .resume__education p { margin-bottom: var(--base-leading); }

  footer {
    margin-top: calc(2 * var(--base-leading));
    border-top: 2px solid #d0d0d0;
  }

  footer p {
    margin-top: var(--base-leading);
  }

  footer .address  { display: block; }
  footer .address dd.address__email { margin: 0px; }
}

@media screen and (max-width: 370px) {
  .resume__work-experience h2 {
    line-height: var(--base-leading);
    margin-bottom: var(--base-leading);
  }
}

@media screen and (max-width: 436px) {
  header h1 {
    line-height: calc(var(--base-leading) * 2);
    margin-bottom: var(--base-leading);
  }
}

@media screen and (min-width: 765px) {
  li { margin-left: 0px; }

  .address, aside {
    display: flex;
    flex-flow: row wrap;
  }

  .address { margin-left: -25px; }

  .address dd { display: block; padding-right: 0px; }

  dd.address__physical  { flex: 0 0 36%;  order: 1; }
  dd.address__telephone { flex: 0 0 30%;  order: 2; }
  dd.address__github    { flex: 0 0 20%;  order: 3; }
  dd.address__email     { flex: 0 0 auto; order: 4; }

  dd.address__email {
    margin: 0px auto 0px 39%;
  }

  aside li { margin-left: 0px; }

  .resume__competencies { flex: 0 0 40%; }
  .resume__languages    { flex: 0 0 35%; }
  .resume__technologies { flex: 0 0 20%; }

  aside h3 {
    width: 1em; /* force word wrapping */
    line-height: var(--base-leading);
    margin-top: var(--base-leading);
    margin-bottom: var(--base-leading);
  }
}

@media screen and (min-width: 820px) {
  .resume__extras { display: flex; }

  .resume__education { flex: 1; }
  .resume__interests { flex: 0 0 42%; }

  .resume__interests { margin-left: 5em; }

  .resume__education p {
    margin-bottom: var(--base-leading);
    font-size: 0.8335em;
    width: 70ex;
  }
}

@media screen and (min-width: 900px) {
  header {
    height: calc(3 * var(--base-leading));
    margin-top: calc(40vh - (3 * var(--base-leading)));
  }

  .resume__example-roles { height: calc(2 * var(--base-leading)); }

  .resume__tagline {
    height: calc(3 * var(--base-leading));
    margin-bottom: calc(60vh - (3 * var(--base-leading)));
  }

  footer .address { display: none; }
  .address { order: 9; }

  .background--active { display: block; }

  .background__image,
  .background__overlay {
    display: block;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;

    background-size: cover;
    background-position: top right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: grayscale(0.6) brightness(0.6);
  }

  .background__overlay { filter: none; }

  .background__credit {
    position: absolute;
    top: 1vh;
    right: 2vw;
    padding: 2px 6px;

    color: #939393;

    font-size: 0.8335em;
    text-decoration: none;
  }

  .background__credit svg path { fill: #939393; }

  .credit__icon,
  .credit__attribution {
    display: inline-block;
    padding: 2px 3px;
  }

  .credit__attribution { text-indent: -1000vw; }
  .background__credit:hover .credit__attribution { text-indent: 0px; }

  .background__overlay { background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)); }

  header,
  .resume__example-roles,
  .resume__tagline,
  .resume__tagline em
  { color: #f0f0f0; }

  .resume__tagline em {
    color: #54e4dc;
    text-shadow: -1px 2px 0px #0e111b, 1px -1px 0px #f0f0f0, -2px -1px 0px #1d7583, 1px 2px 0px #308ac9;
  }
}
