html {
  --body-text-color: #404040;
  --base-font-size: 12pt;
  --base-line-height: 27px;
  --base-leading: var(--base-line-height);

  --ff-serif: 'Garamond', serif;
  --ff-sans:  'Gill Sans', 'Gill Sans MT', sans-serif;
  --ff-serif-em: 'Cambria', serif;
  --ff-sans-em:  'Lato', 'Helvetica', sans-serif;
}

*,
h1, h2, h3, h4, h5, h6,
p {
  margin: 0px;
  padding: 0px;
}

body {
  color: var(--body-text-color);
}

mark {
  background: transparent;
  color: var(--body-text-color);
}


/*@media print {*/
  @page {
    size: A4 portrait;
    margin: 2cm 1.25cm 1.25cm calc(1.25cm - 50px);
  }

  @page:first {
    margin-top: 1cm;
  }

  body {
    margin-left: 50px;
  }

  body {
    background: white;
    font-size: var(--base-font-size);
    font-family: var(--ff-serif);
    line-height: var(--base-leading);
  }

  h1 { font-size: 3.375em; line-height: calc(var(--base-leading) * 3); }
  h2 { font-size: 2.250em; line-height: calc(var(--base-leading) * 2); }
  h3 {
    font-size: 1.5em;
    line-height: calc(var(--base-leading) * 1.25);
    margin-bottom: calc(var(--base-leading) * 0.75);
  }

  h1, h2, h3 { font-family: var(--ff-sans); }

  h4,
  h5,
  h6,
  p,
  li {
    font-size: var(--base-font-size);
    line-height: var(--base-leading);
  }

  a:link,
  a:hover,
  a:visited,
  a:active,
  a:focus {
    text-decoration: none;
    color: inherit;
  }

  abbr[title] { text-decoration: none; }
  abbr[title]:after { content: " (" attr(title) ")"; }

  .job__accomplishments a[href]:after {
    font-size: 0.8335em;
    content: " (" attr(href) ")";
  }

  ul {
    list-style: none;
  }

  .address {
    width: auto;
    margin-top: calc(var(--base-leading) * -3.53);

    float: right;

    display: flex;
    flex-flow: column nowrap;

    text-align: right;
  }

  .address dt { display: none; }
  .address dd { margin: 0px; padding-right: 27px; }

  dd.address__physical  { order: 1; }
  dd.address__telephone { order: 2; }
  dd.address__email     { order: 3; }

  .address dd {
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 16px auto;
  }

  dd.address__physical { background-image: url("/icons/globe.svg"); }
  dd.address__telephone { background-image: url("/icons/phone.svg"); }
  dd.address__email { background-image: url("/icons/email.svg"); }
  dd.address__github { background-image: url("/icons/github.svg"); }

  dd.address__github {
    display: block;
    position: absolute;
    top: calc(var(--base-leading) * 3.4);
    left: 50px;
  }

  dd.address__github { background-position: left center; }
  .address__github .url__domain { display: none; }
  .address__github .url__path { margin-left: 20px; }

  header {
    margin: calc(var(--base-leading) * 1) 0px;
    padding: 0px;
  }

  aside {
    float: right;
    width: 20%;
    margin-top: calc(var(--base-leading) * -8);
  }

  aside:nth-of-type(2) {
    margin-top: calc(var(--base-leading) * -27);
  }

  .resume__tagline,
  .resume__summary p:last-child,
  .resume__job:first-of-type {
    margin-right: 30%;
  }

  .resume__job:first-of-type .job__accomplishments { margin-right: 0px; }

  .resume__tagline {
    margin-top: var(--base-leading);
    margin-bottom: var(--base-leading);

    font-family: var(--ff-serif-em);
    font-size: 1.45em;
    line-height: var(--base-leading);

    font-style: italic;
  }

  .resume__tagline em {
    color: #000;
    font-family: var(--ff-sans-em);
    font-style: normal;
  }

  .resume__example-roles {
    font-size: var(--base-font-size);
    line-height: var(--base-line-height);
    font-style: normal;
    font-weight: normal;
  }

  .resume__extras ul,
  aside ul {
    list-style: none;
    margin-top: 0px;
    padding-left: 0px;
  }

  aside h3 {
   font-size: 0.667em;
   line-height: var(--base-leading);
   margin-top: var(--base-leading);
   margin-bottom: 0px;
  }

  .resume__extras li,
  aside li {
    font-size: 0.8335em;
    line-height: calc(var(--base-leading) - 1px);
    border-bottom: 1px solid #e0e0e0;
  }

  .resume__extras li:last-child,
  aside li:last-child {
    margin-bottom: 1px;
    border-bottom: none;
  }

  .resume__summary {
    margin-bottom: var(--base-leading);
  }

  .resume__work-experience h2 {
    font-size: 1em;
    line-height: var(--base-leading);
  }

  .job__title {
    margin: 0px;

    font-size: 1.337em;
    line-height: var(--base-leading);

    font-weight: normal;
  }

  .job__period {
    display: inline;
  }

  .job__period::after { content: ", "; }

  .job__employer {
    display: inline;
    font-size: 0.667em;
  }

  .job__period,
  .job__employer {
    font-family: sans-serif;
    color: #808080;
  }

  .job__accomplishments {
    list-style: disc;
  }

  .job__accomplishments li {
  }

  .resume__job { margin-bottom: var(--base-leading); }
  .resume__job:nth-of-type(2) { page-break-before: always; }

  .resume__languages li {
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 20px 20px;
  }

  li.language__clojure { background-image: url("/icons/clojure.svg"); }
  li.language__fsharp  { background-image: url("/icons/fsharp.svg"); }
  li.language__ruby    { background-image: url("/icons/ruby.svg"); }
  li.language__sql     { background-image: url("/icons/database.svg"); }
  li.language__html    { background-image: url("/icons/html5.svg"); }
  li.language__javascript { background-image: url("/icons/javascript.svg"); }

  li.language__javascript,
  li.language__ruby {
    background-size: 16px 16px;
    background-position: right 3px center;
  }

  .resume__extras {
    display: flex;
    border-top: 1px solid #e0e0e0;
    padding-top: calc(var(--base-leading) - 1px);
  }

  .resume__extras p,
  .resume__extras li {
    font-size: 0.8335em;
    line-height: var(--base-leading);
  }

  .resume__education {
    margin-right: 3em;
    flex-basis: 85%;
  }

  .resume__education p {
    margin-bottom: var(--base-leading);
  }

  .resume__education mark {
    font-family: sans-serif;
    font-size: 0.667em;
    color: #808080;
  }

  .resume__education h2,
  .resume__interests h2 {
    font-size: 1.337em;
    line-height: var(--base-leading);
  }
/*}*/
