<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{% block title %}{{ config.title }}{% endblock title %}</title>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&family=Inter:wght@300;400;500;600;800&display=swap" rel="stylesheet">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="48x48" href="/assets/favicons/favicon-48x48.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/favicon-180x180.png">
  <link rel="shortcut icon" href="/assets/favicons/favicon.ico">
  <link rel="stylesheet" href="/assets/css/site.css">
</head>
<body>
  {% block content %}{% endblock content %}
</body>
</html>
